/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
    .content{
        min-height: 50px;
    margin-bottom: 4px;
        margin-top: 10px;
        
    }
    
    
    .hero_call{
        min-height: 60px;
        
    }
    .article_feature{
        
        min-height: 100px;
        
    }
    
    .add{
        min-height: 100px;
        padding-right: 0;
        margin-bottom: 10px;
        
    }
    .content-height{

    min-height: 300px;
    
    
}
    .article_listing{
        min-height: 150px;
        margin: 10px 0 10px 0;
        
    }
    .sidebar_content{
        margin-top: 15px;
        min-height: 140px;
        
    }
    
    .sidebar_feature{
        
        min-height: 100px;
        margin: 20px 5px;
    }
    .padding_left_disable{
        padding-left: 0;
        
    }
    
    
    
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {

    
    .article_feature{
        
        min-height: 150px;
        
    }
    
    .add{
        min-height: 160px;
        padding-right: 0;
        margin-top: 22px;
        
    }
    .article_listing{
        
    }
    .sidebar_content{
        margin-top: 15px;
        min-height: 140px;
        
    }
    
    .sidebar_feature{
        
        min-height: 100px;
        margin: 20px 5px;
    }
    .padding_left_disable{
        padding-left: 0;
        
    }
    
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    
    .article_feature{
        
        min-height: 150px;
        
    }
    
    .add{
        min-height: 160px;
        padding-right: 0;
        margin-top: 22px;
        
    }
    .article_listing{
        
    }
    .sidebar_content{
        margin-top: 15px;
        min-height: 140px;
        
    }
    
    .sidebar_feature{
        
        min-height: 100px;
        margin: 20px 5px;
    }
    .padding_left_disable{
        padding-left: 0;
        
    }
}


/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 

}









